# Data manipulation
pandas
pyarrow

# Model manipulation
scikit-learn
joblib

# Data base
sqlalchemy
psycopg2-binary

# App
streamlit

# Airflow
#apache-airflow>2.8.4

# Mlflow
mlflow==2.11.3
#mlflow<3

werkzeug
protobuf